
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="box-shadow: 0px 0px 15px lightgrey">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{path('app_home')}}" style="color: #ffa501"><img src="{{ asset ('assets/images/logo.png')}}" alt="logo" width="50" height="50" class="d-inline-block align-text-bottom">JusDélice</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mt-4 mx-2 mb-4" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_home')}}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_recipes_index')}}">Recettes</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{path('app_ingredients_index')}}">Ingrédients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{path('app_type_index')}}">Catégories</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{path('users_index')}}">Gestion Utilisateurs</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{path('app_contact')}}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{path('app_logout')}}"><button class="btn btn-primary mt-3">Deconnexion</button></a>
                        </li>
                    {% elseif is_granted('ROLE_USER')%}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{path('app_contact')}}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{path('app_logout')}}"><button class="btn btn-primary mt-3">Deconnexion</button></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{path('app_contact')}}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{path('app_login')}}"><button class="btn btn-primary mt-3 me-3">Connexion</button></a>
                        </li>
                        <li class="nav-item">
                            <a href="{{path('app_register')}}"><button class="btn btn-secondary mt-3">Inscription</button></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="px-4 py-2">
        {% if app.user %}
            <p>Bonjour, {{ app.user.username }} !</p>
        {% endif %}
    </div>
</header>