{% if is_granted('ROLE_ADMIN') %}
<form method="post" action="{{ path('app_type_delete', {'id': type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type.id) }}">
    <button class="btn mt-3" style=" box-shadow: 0px 0px 15px lightgray;">Supprimer</button>
</form>
{% endif %}
