{% extends 'base.html.twig' %}

{% block title %}Modification Catégorie{% endblock %}

{% block body %}
<main>
    <div class="content px-4">
        <a href="{{ path('app_type_index') }}">Retour aux catégories</a>
        <div class="form mt-3">
            <h1>Modification de la catégorie</h1>
            {{ include('type/_form.html.twig', {'button_label': 'Modifier'}) }}
            {{ include('type/_delete_form.html.twig') }}
        </div>
    </div>
</main>
{% endblock %}
