{% extends 'base.html.twig' %}

{% block title %}Catégories d'Ingrédients{% endblock %}

{% block body %}
<main>

    <div class="content p-4">
        <div>
            <h1>Tous les types d'ingrédients</h1>
            <div class="addRecipe-btn mb-3 btn btn-light">
                <a href="{{ path('app_type_new') }}">Ajouter un nouveau type</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for type in types %}
                <tr>
                    <td>{{ type.name }}</td>
                    <td>
                        <div class="btn btn-primary btn-sm">
                            <a href="{{ path('app_type_edit', {'id': type.id}) }}">Modifier</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun résultats trouvées.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
