{% extends 'base.html.twig' %}

{% block title %}Ajouter une Catégorie{% endblock %}

{% block body %}
<main>    
    <div class="content px-4">
        <a href="{{ path('app_type_index') }}">Retour à la liste de catégories</a>
        <div class="form mt-3">
            <h1>Ajouter une catégorie d'aliment</h1>

            {{ include('type/_form.html.twig') }}
        </div>
    </div>
</main>  
{% endblock %}
