{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez JusDélice !{% endblock %}

{% block body %}
<main>
    <div class="content p-4">
        <section class="intro">
            <h1>Bonjour à tous et bienvenue sur notre site de recettes de jus!</h1>
            <p>Vous retrouverez toute sorte de recettes de jus et vous pourrais même partager les votres !</p>
        </section>
        <div class="mt-5">
            <h3>Notre séléction de recettes du moment !</h3>
        </div>
        <div class="cards mt-5">
				{% for recipe in recipes|slice(0,4) %}
					<div class="card" style="--bs-card-border-width: none">
						<img src="{{ recipe.imgUrl }}" class="card-img" alt="Miniature">
						<div class="card-img-overlay">
							<h5 class="card-title d-flex flex-column">{{ recipe.Name }}</h5>
							<a href="{{ path('app_recipes_show', {'id': recipe.id}) }}">
								<button class="btn btn-primary px-4">Voir</button>
							</a>
						</div>
					</div>
					{% else %}
					<div>
						<p>Aucun résultats n'est disponible.</p>
					</div>
				{% endfor %}
			</div>
    </div>
</main>
{% endblock %}
