{% extends 'base.html.twig' %} {% block title %}Inscription{% endblock %} {%
block body %}
<main>
  <div class="content p-4">
    <h1>Inscrivez-vous !</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.firstname, {
        label: 'Prénom',
    }) }}
    {{ form_row(registrationForm.lastname, {
        label: 'Nom',
    }) }}
    {{ form_row(registrationForm.username, {
        label: 'Nom d\'utilisateur',
    }) }}
    {{ form_row(registrationForm.email, {
        label: 'E-mail',
    }) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Mot de passe',
    }) }}
    {{ form_row(registrationForm.agreeTerms,{
        label: 'Conditions générales ',
    }) }}

    <button type="submit" class="btn btn-primary mt-3">M'inscrire</button>
    {{ form_end(registrationForm) }}
  </div>
</main>

{% endblock %}
