{% if is_granted('ROLE_ADMIN') %}
    <form method="post" action="{{ path('app_ingredients_delete', {'id': ingredient.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet ingrédients ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ingredient.id) }}">
    <button class="btn mt-3" style=" box-shadow: 0px 0px 15px lightgray;">Supprimer l'élément</button>
</form>
{% endif %}