{% extends 'base.html.twig' %}

{% block title %}Modification de l'ingrédient{% endblock %}

{% block body %}
<main>
    <div class="content px-4">
        <a href="{{ path('app_ingredients_index') }}">Retour à la liste des ingrédients</a>
        <div class="form mt-3">
            <h1>Modification Ingrédient</h1>
            {{ include('ingredients/_form.html.twig', {'button_label': 'Modifier l\'ingrédient'}) }}
            {{ include('ingredients/_delete_form.html.twig') }}
        </div>
    </div>
</main>
{% endblock %}
