{% extends 'base.html.twig' %}

{% block title %}Liste des Ingrédients{% endblock %}

{% block body %}
<main>
    <div class="content p-4">
        <div>
            <h1>Liste de tous les ingrédients</h1>
            <div class="addRecipe-btn mb-3 btn btn-light">
                <a href="{{ path('app_ingredients_new') }}">Ajouter un nouvel ingrédient</a>
            </div> 
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for ingredient in ingredients %}
                <tr>
                    <td>{{ ingredient.Name }}</td>
                    <td>{{ ingredient.type }}</td>
                    <td>{{ ingredient.description }}</td>
                    <td><img src="{{ ingredient.imgUrl }}" alt="img_ingrédient" style="width: 50px;"></td>
                    <td>
                        <div class="btn btn-primary btn-sm">
                            <a href="{{ path('app_ingredients_edit', {'id': ingredient.id}) }}">Modifier</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun résultats trouvées.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
