{% extends 'base.html.twig' %}

{% block title %}Ajout Ingrédients{% endblock %}

{% block body %}
<main>    
    <div class="content px-4">
        <a href="{{ path('app_ingredients_index') }}">Retour à la liste d'aliments</a>
        <div class="form mt-3">
            <h1>Ajouter un nouvel Aliment</h1>

            {{ include('ingredients/_form.html.twig') }}
        </div>
    </div>
</main>
{% endblock %}
