{% extends 'base.html.twig' %}

{% block title %}Ingredients{% endblock %}

{% block body %}
    <h1>Ingrédient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ ingredient.Name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ingredient.description }}</td>
            </tr>
            <tr>
                <th>Img_url</th>
                <td><img src="{{ ingredient.imgUrl }}" alt="image"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ingredients_index') }}">back to list</a>

    <a href="{{ path('app_ingredients_edit', {'id': ingredient.id}) }}">edit</a>

    {{ include('ingredients/_delete_form.html.twig') }}
{% endblock %}
