// General Style
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    min-height: 80vh;
}
footer{
    
    position: relative;
    bottom: 0;
    p{
        text-align: center;
        background-color: #ffa501;
        padding: 20px;
        margin-bottom: 0;
    }
}
@media screen and (min-width: 768px) {
    .content{
        padding: 1.5rem 10% !important;
    }
}
@media screen and (min-width: 991px) {
    .content{
        padding: 1.5rem 10% !important;
    }
}
@media screen and (min-width: 1280px){
    .content{
        padding: 1.5rem 10% !important;
    }
}

//Navbar Style
.navbar{
    .container-fluid{
        .navbar-collapse{
            ul{
                li{
                    a{
                        transition: color 0.3s ease-in-out;
                        &:hover{
                            color: #ff9100;
                       }
                    }
                }
            }
            @media screen and (min-width: 991px) {
                flex-grow: 0;
                ul{
                    align-items: end;
                }
            }
        }
    }
}

// Show Recipes Style
.content{
    .recipeShow{
        img{
            width: calc(100vw - 10vw);
        }
    }
    @media screen and (min-width: 991px) {
        .recipeShow{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            img{
                width: calc(50vw - 10vw);
            }
        }
    }
}


// Card Style
.content{
    .addRecipe-btn{
        box-shadow: 0px 0px 15px lightgray;
        --bs-btn-hover-bg: #ffa501;
        a{
            color: #ff9100;
            text-decoration: none;
            
        }
        &:hover{
            a{
                color: white;
            }
            
        }
    }
    .cards{
        
        .card{
            position: relative;
            margin-bottom: 2rem;
            .card-img{
                filter: brightness(0.7);
                transition: filter 0.5s ease-in-out;
                &:hover{
                    filter: brightness(1);
                }
            }
            .card-img-overlay{
                position: absolute;
                top:unset;
                bottom: 1rem;
                .card-title{
                    color: white;
                }
            }
        }
    }
    @media screen and (min-width: 768px) {
        .cards{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2rem;
        }
    }
    @media screen and (min-width: 991px) {
        .cards{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media screen and (min-width: 1280px) {
        .cards{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

// Form style for recipe
.content{
    .form{
        form{
            #recipes{
                #recipes_ingredients{
                    padding: 10px;
                    display: grid !important;
                    grid-template-columns: repeat(2, 1fr 2fr);
                    gap: 5px;
                }
            }
        }
    }
}

        // Ingredients Style
//Index Style
.table{
    tbody{
        tr{
            td{
                padding: 0.2rem 0.2rem;
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}