* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  min-height: 80vh;
}

footer {
  position: relative;
  bottom: 0;
}
footer p {
  text-align: center;
  background-color: #ffa501;
  padding: 20px;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .content {
    padding: 1.5rem 10% !important;
  }
}
@media screen and (min-width: 991px) {
  .content {
    padding: 1.5rem 10% !important;
  }
}
@media screen and (min-width: 1280px) {
  .content {
    padding: 1.5rem 10% !important;
  }
}
.navbar .container-fluid .navbar-collapse ul li a {
  transition: color 0.3s ease-in-out;
}
.navbar .container-fluid .navbar-collapse ul li a:hover {
  color: #ff9100;
}
@media screen and (min-width: 991px) {
  .navbar .container-fluid .navbar-collapse {
    flex-grow: 0;
  }
  .navbar .container-fluid .navbar-collapse ul {
    align-items: end;
  }
}

.content .recipeShow img {
  width: 90vw;
}
@media screen and (min-width: 991px) {
  .content .recipeShow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .content .recipeShow img {
    width: 40vw;
  }
}

.content .addRecipe-btn {
  box-shadow: 0px 0px 15px lightgray;
  --bs-btn-hover-bg: #ffa501;
}
.content .addRecipe-btn a {
  color: #ff9100;
  text-decoration: none;
}
.content .addRecipe-btn:hover a {
  color: white;
}
.content .cards .card {
  position: relative;
  margin-bottom: 2rem;
}
.content .cards .card .card-img {
  filter: brightness(0.7);
  transition: filter 0.5s ease-in-out;
}
.content .cards .card .card-img:hover {
  filter: brightness(1);
}
.content .cards .card .card-img-overlay {
  position: absolute;
  top: unset;
  bottom: 1rem;
}
.content .cards .card .card-img-overlay .card-title {
  color: white;
}
@media screen and (min-width: 768px) {
  .content .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
@media screen and (min-width: 991px) {
  .content .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  .content .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.content .form form #recipes #recipes_ingredients {
  padding: 10px;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr 2fr);
  gap: 5px;
}

.table tbody tr td {
  padding: 0.2rem 0.2rem;
}
.table tbody tr td a {
  color: white;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */