{% extends 'base.html.twig' %}

{% block title %}Contactez-nous!{% endblock %}

{% block body %}
<main>
    <div class="content p-4">
        <div class="col">
            <h1>Formulaire de contact</h1>
            {{form(contactForm)}}
        </div>
    </div>
</main>
{% endblock %}
