<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset ('assets/images/logo.png')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Feuilles de styles -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

        <!-- Fichiers JS -->
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
        {% block javascripts %}
        {% endblock %}
        <script src="{{ asset('assets/js/scripts.js') }}" defer></script>

    </head>
    <body>
        {% include "_partials/_nav.html.twig" %}
        {% include "_partials/_flash.html.twig" %}
        {% block body %}
        
        {% endblock %}
        {% include "_partials/_footer.html.twig" %}
    </body>
</html>
