{% if is_granted('ROLE_MODERATOR') or is_granted('ROLE_ADMIN') %}
    <form method="post" action="{{ path('app_recipes_delete', {'id': recipe.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette recette ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recipe.id) }}">
        <button class="btn mt-3" style=" box-shadow: 0px 0px 15px lightgray;">Supprimer la recette</button>
    </form>
{% endif %}
