{% extends 'base.html.twig' %}

{% block title %}Modifier la recette{% endblock %}

{% block body %}
<main>
    <div class="content px-4">
        <a href="{{ path('app_recipes_index') }}">Retour à la liste des recettes</a>
        <div class="form mt-3">
            <h1>Modification de la recette</h1>
            {{ include('recipes/_form.html.twig', {'button_label': 'Confirmer'}) }}
            {{ include('recipes/_delete_form.html.twig') }}
        </div>
    </div>
</main>
{% endblock %}
