{% extends 'base.html.twig' %}

{% block title %}Toutes nos recettes{% endblock %}

{% block body %}
	<main>
		<div class="content p-4">
			<h1>Liste des recettes</h1>
			{% if app.user %}
				<div class="addRecipe-btn mb-3 btn btn-light">
					<a href="{{ path('app_recipes_new') }}">Ajouter une recette</a>
				</div>
			{% endif %}
			<div class="cards mt-3">
				{% for recipe in recipes %}
					<div class="card" style="--bs-card-border-width: none">
						<img src="{{ recipe.imgUrl }}" class="card-img" alt="Miniature">
						<div class="card-img-overlay">
							<h5 class="card-title">{{ recipe.Name }}</h5>
							<a href="{{ path('app_recipes_show', {'id': recipe.id}) }}">
								<button class="btn btn-primary px-4">Voir</button>
							</a>
						</div>
					</div>
					{% else %}
					<div>
						<p>Aucunes recettes n'as été trouvées !</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>
{% endblock %}
