{% extends 'base.html.twig' %}

{% block title %}Ajouter une recette{% endblock %}

{% block body %}
<main>    
    <div class="content px-4">
        <a href="{{ path('app_recipes_index') }}">Retour aux recettes</a>
        <div class="form mt-3">
            <h1>Ajoutez une nouvelle recette</h1>

            {{ include('recipes/_form.html.twig') }}
        </div>
    </div>
</main>
  

{% endblock %}
