{% extends 'base.html.twig' %}

{% block title %}Recette du : {{recipe.Name}} {% endblock %}

{% block body %}
<main>
    <div class="content p-4">
        <a href="{{ path('app_recipes_index') }}">Retour aux recettes</a>
        <h1 class="mt-4 mb-3">Recette : {{recipe.Name}}</h1>
        <div class="recipeShow">
            <div class="recipeImg mb-4">
                <img class="rounded" src="{{recipe.imgUrl}}" alt="image">
            </div>
            <div class="recipeInfo">
                <div>
                    <h1>Voici les étapes de la recette a suivre : </h1>
                    <p>{{recipe.description}}</p>
                </div>
                <h3>Liste des ingrédients nécéssaires: </h3>
                <div>
                    {% for ingredient in recipe.ingredients %}
                        <ul>
                            <p> -{{ingredient.name}}</p>
                        </ul>
                    {% endfor %}
                    <div class="recipeBtn">
                        <a class="btn btn-primary" href="{{ path('app_recipes_edit', {'id': recipe.id}) }}">Modifier</a>
                        {{ include('recipes/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
