{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}
<main>
    <div class="content p-4">
        <div>
            <h1>Tous les Utilisateurs</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Nom d'utilisateur</th>
                    <th>E-mail</th>
                    <th>Roles</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        
                        {% for roles in user.roles %}
                        <li>
                            {{ roles }}
                        </li>
                        {% endfor %}
                        
                    </td>
                    <td>
                        <div class="btn btn-primary btn-sm">
                            <a href="{{ path('users_show', {'id': user.id}) }}">Voir</a>
                            {# <a href="{{ path('app_ingredients_edit', {'id': ingredient.id}) }}">Modifier</a> #}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun résultats trouvées.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}