{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}

<main>
    <div class="container">
        <div class="content">
            <div class="col">
                <h1>Informations sur l'utilisateur : {{user.username}}</h1>
                <div>
                    <p>Nom : {{ user.lastName }}</p>
                    <p>Prénom : {{ user.firstName }}</p>
                    <p>Nom d'utilisateur : {{ user.username }}</p>
                    <a href="{{ path('users_edit', {'id': user.id}) }}">edit</a>
                </div>
            </div>
        </div>
    </div>
</main>

    {# <a href="{{ path('app_ingredients_index') }}">back to list</a> #}

    

    {# {{ include('ingredients/_delete_form.html.twig') }} #}
{% endblock %}
