{% extends 'base.html.twig' %}

{% block title %}Modification Utilisateur{% endblock %}

{% block body %}
<main>
    <h1>Edit controller</h1>
    {{form(userForm)}}
    {# <div class="content px-4">
        <a href="{{ path('app_ingredients_index') }}">Retour à la liste des ingrédients</a>
        <div class="form mt-3">
            <h1>Modification Ingrédient</h1>
            {{ include('ingredients/_form.html.twig', {'button_label': 'Update'}) }}
            {{ include('ingredients/_delete_form.html.twig') }}
        </div>
    </div> #}
</main>
{% endblock %}
